<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="assets/css/custom/common.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-1.12.3/jquery.js"></script>
    <script src="assets/js/jquery-nicescroll/jquery.nicescroll.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../js/html5media.js"></script>
    <script src="../js/function.js"></script>
    <script src="../js/basic.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/FileSaver.min.js"></script>
    <script src="../js/jquery.wordexport.js"></script>
    <!--<script src="../js/jquery.PrintArea.js"></script>-->
    <script src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/jquery.jqprint-0.3.js"></script>
    <script src="../js/jquery.cookies.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/jquery.tmpl.min.js" type="text/javascript"></script>
    <style>
        .ks_panel_right .ks_title > img{
            top: 0;
        }

    </style>
</head>
<body>
<div class="ks_head">
    <div class="ks_container">
        <div class="ks_user">
            <div class="ks_photo">
                <img src="assets/img/main/photo.png">
            </div>
            <div class="ks_name">@Administrators</div>
        </div>
        <div class="ks_menu ks_menu_left">
            <a class="ks_menu_item dituHref" target="_self">
                <img src="assets/img/main/icon_01.png">
                <div class="ks_menu_title">地图</div>
            </a>
            <a class="ks_menu_item relationHref" target="_self">
                <img src="assets/img/main/icon_02.png">
                <div class="ks_menu_title">关系网络</div>
            </a>
            <a class="ks_menu_item" href="#">
                <img src="assets/img/main/icon_03.png">
                <div class="ks_menu_title">翻译</div>
            </a>
            <a class="ks_menu_item" href="#">
                <img src="assets/img/main/icon_04.png">
                <div class="ks_menu_title">图谱管理</div>
            </a>
        </div>
        <div class="ks_search">
            <input type="text">
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <div class="ks_menu ks_menu_right">
            <a class="ks_menu_item" href="#">
                <img src="assets/img/main/icon_05.png">
                <div class="ks_menu_title">收藏</div>
            </a>
            <a class="ks_menu_item wordprint" href="#">
                <img src="assets/img/main/icon_06.png">
                <div class="ks_menu_title">打印</div>
            </a>
            <a class="ks_menu_item worddao" href="#">
                <img src="assets/img/main/icon_07.png">
                <div class="ks_menu_title">导出</div>
            </a>
            <a class="ks_menu_item" href="../main.html" target="_self" >
                <img src="assets/img/main/icon_08.png">
                <div class="ks_menu_title">返回地球</div>
            </a>
            <a class="ks_menu_item returnCountry">
                <img src="assets/img/main/icon_09.png">
                <div class="ks_menu_title">返回国家</div>
            </a>
        </div>
    </div>
</div>
<div class="ks_main" id="ks_main">
    <div class="ks_party">
        <div class="ks_inner" id="country_name">

        </div>
    </div>


    <div class="ks_daochu">
        <div class="w-80p ks_fl card">
            <div class="ks_panel panel w-50p ks_fl" v-for="(inner,key) in content[0]" v-bind:class="[{'h-2x': key =='基本信息'},key]">
                <div class="ks_inner">
                    <div id="geo" class="ks_title">{{ key }}</div>
                    <div class="ks_body dili" v-if="key != '基本信息'">
                        {{ inner }}
                    </div>
                    <div class="ks_body dili" v-else>
                        <div v-for="(list,key) in inner"><strong>{{ key }} ：</strong> {{ list}}</div>
                    </div>
                    <div class="ks_open" :title='key'>
                        <span style="display: none;" class='open_text'>{{ inner | textfilter }}</span>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="ks-tab">
                <button data-class="hot-news" class="fontWeight">热点新闻</button>
                <!--    <button  data-class="to-china">涉华新闻</button>
                   <button  data-class="risk-news">风险资讯</button> -->
            </div>
            <div class="ks_panel w-100p ks_fl">
                <div class="ks_inner hot-news tab-content default">
                    <div class="ks_body">
                        <div class="w-100p">
                            <p class="morep"><span class="more" onclick="window.open('main_newsContent.html?EntityID=' +  $.cookie('CountryEntityID') + '&type=' +  $.cookie('CountryType'));">更多</span></p>
                            <div class="clearfix"></div>
                            <div class="ks_new ks_fl w-50p" v-for="value in newsContent">
                                <!-- <a :href="value.url" target="_blank" style="display: block;"> -->
                                <div class="ks_inner">
                                    <div class="ks_right">
                                        <div class="ks_right_content">
                                            <div class="ks_tile"><span @click="openUrl(value)">{{value.title }} </span></div>
                                            <div class="ks_content" @click="openUrl(value)">{{value.abstrct}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-20p ks_fl">
            <div class="ks_panel_right w-100p ks_fl">
                <div class="ks_inner">
                    <div class="ks_title"><img src="assets/img/main/panel_01.png">关联实体</div>
                    <div class="ks_body p-0">
                        <table>
                            <thead>
                            <tr>
                                <th v-for="(value,key) in EntiryPart[0]" v-html="$options.filters.filterEntity(key)"></th>
                                <!-- 将过滤方法写在 v-html上  相当于1.0中 {{{ {{key | filterEvent}} }}}-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="value in EntiryPart">
                                <td v-for="td in value" v-html="td"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ks_panel_right w-100p ks_fl">
                <div class="ks_inner">
                    <div class="ks_title"><img src="assets/img/main/panel_02.png">关联事件</div>
                    <div class="ks_body p-0">
                        <table>
                            <thead>
                            <tr>
                                <th v-for="(value,key) in EventPart[0]" v-html="$options.filters.filterEvent(key)"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="value in EventPart">
                                <td v-for="(td,key) in value" v-html="$options.filters.timefilter(td,key)"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ks_panel_right w-100p ks_fl">
                <div class="ks_inner">
                    <div class="ks_title"><img src="assets/img/main/panel_03.png">关联文档</div>
                    <div class="ks_body p-0">
                        <table>
                            <thead>
                            <tr>
                                <th v-for="(value,key) in DocPart[0]" v-if="key !== 'first'"  v-html="$options.filters.filterDocument(key)"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="value in DocPart">
                                <td v-for="(td,key) in value" v-if="key !== 'first'" v-html="$options.filters.timefilterTwo(td,key)"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ks_panel_right w-100p ks_fl ks_dark" >
                <div class="ks_inner" style="height: 240px;">
                    <div class="ks_title"><img src="assets/img/main/panel_04.png">多媒体</div>
                    <div class="ks_body">
                        <div class="ks_video">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>
<script type="text/x-jquery-tmpl" id="country_name_data">
    <div class="ks_party_flag">
        <img src=${Logo}>
    </div>
    <div class="ks_party_name">
        &nbsp;&nbsp;${EntityName} ${EntityEnName}&nbsp;&nbsp;<span class="ks_party_des">（${EntityName}文：${EntityLocalName}）</span>
    </div>

</script>
<script>
    //    isLogin();
    function openCard(id,value){
        window.location.href="main_countryCard.html?EntityID="+ id +"&type=" + value ;
    }
    $(function () {

        var ks_main = new Vue({
            el: "#ks_main",
            data: {
                content: [],
                EntiryPart: "",
                EventPart: "",
                DocPart: "",
                newsContent: ""

            },
            methods: {
                "openUrl": function (val) {
                    var width = $(window).width() / 1.5;
                    var height = $(window).height() / 1.5;
                    $.ajax({
                        "type": "get",
                        "url": "layer_module.html",
                        "success": function (response, status, xhr) {
                            layer.open({
                                type: 1,
                                title: val.title,
                                skin: "layui-layer-lbf", //添加类名
                                closeBtn: 1,
                                area: [width + "px", height + "px"],
                                shadeClose: true,
                                content: response,
                                success: function () {
                                    $(".text-area").html(val.abstrct);
                                    $(".news-container").find('h2').html(val.title);
                                }
                            });
                        }
                    });
                }
            },
            mounted: function () {
                $(".returnCountry").attr("href","../pages/countryOverview.html?EntityID=" +  $.cookie("CountryEntityID") + "&type=" +  $.cookie("CountryType") );
                $(".dituHref").attr("href",  "main_earths.html?EntityID=" +  $.cookie("CountryEntityID") + "&type=" +  $.cookie("CountryType")   );
                $(".relationHref").attr("href",  "main_relation.html?EntityID=" +  $.cookie("CountryEntityID") + "&type=" +  $.cookie("CountryType")   );
                $(".worddao").on("click",function(e){
                        e.preventDefault();
                        $(".ks_daochu").wordExport();
                });
                $(".wordprint").on("click",function(e){
                        e.preventDefault();
                       $("body").jqprint();
                });


                $.ajax({
                    type: "get",  //访问WebService使用get方式请求
                    url: HOST, //调用WebService的地址和方法名称组合
                    data: {
                        method: "getCountViews",
                        node_type:$.cookie("CountryType"),
                        node_id : $.cookie("CountryEntityID"),
                        AssociatedEntity : "all",
                        level : 2
                    },
                    success: function (data) {
                        var result = $(data).text();
                        var resultData = JSON.parse(result);
                        var videoData = JSON.parse(resultData.video);

                        if(videoData.length == 0){
                           $(".ks_video").html("<p>暂无视频</p>");
                        }else{
                            for (var videoL=0; videoL < videoData.length;videoL++ ){
                                $(".ks_video").append("<video width='100%' height='100%' controls>\
                                                    <source src='"+ videoData[videoL] +"' type='video/mp4'>\
                                                     </video>")
                            }
                        }

                    },
                    "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                        alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                    }
                });
                $.ajax({
                    type: "get",  //访问WebService使用get方式请求
                    url: HOST, //调用WebService的地址和方法名称组合
                    data: {
                        method: "getCountryAndLogo",
                        EntityID: $.cookie("CountryEntityID"),
                    },
                    success: function (data) {
                        var result = $(data).text();
                        var resultJSON = JSON.parse(result);
                        $("#country_name_data").tmpl(resultJSON).appendTo('#country_name');
                        var countryName = resultJSON.EntityName;
                        $.ajax({
                            type: "get",  //访问WebService使用get方式请求
                            url: HOST, //调用WebService的地址和方法名称组合
                            data: {
                                method: "getNewsFromES",
                                key: encodeURI(countryName),
                                type : ""
                            },
                            success: function (data) {
                                var result = $(data).text();
                                var resultJSON = JSON.parse(result);
                                ks_main.newsContent = resultJSON;

                            },
                            "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                                alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                            }

                        });


                    },
                    "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                        alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                    }

                });
                $.ajax({
                    type: "get",  //访问WebService使用get方式请求
                    url: HOST, //调用WebService的地址和方法名称组合
                    data: {
                        method: "getCardRightEntiryPart",
                        nodeType: $.cookie("CountryType"),
                        nodeId: $.cookie("CountryEntityID")
                    },
                    success: function (data) {
                        var result = $(data).text();
                        var resultJSON = JSON.parse(result);
                        ks_main.EntiryPart = resultJSON;
                    },
                    "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                        alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                    }

                });
                $.ajax({
                    type: "get",  //访问WebService使用get方式请求
                    url: HOST, //调用WebService的地址和方法名称组合
                    data: {
                        method: "getCardRightEventPart",
                        nodeType: $.cookie("CountryType"),
                        nodeId: $.cookie("CountryEntityID")
                    },
                    success: function (data) {
                        var result = $(data).text();
                        var resultJSON = JSON.parse(result);
                        ks_main.EventPart = resultJSON;

                    },
                    "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                        alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                    }

                });
                $.ajax({
                    type: "get",  //访问WebService使用get方式请求
                    url: HOST, //调用WebService的地址和方法名称组合
                    data: {
                        method: "getCardRightDocPart",
                        nodeType: $.cookie("CountryType"),
                        nodeId: $.cookie("CountryEntityID")
                    },
                    success: function (data) {
                        var result = $(data).text();
                        var resultJSON = JSON.parse(result);
                        if( resultJSON.length > 0){
                            ks_main.DocPart = [{
                                third : null,
                                second : null
                            }];
                            ks_main.DocPart[0].third = resultJSON[0].third;
                            ks_main.DocPart[0].second = resultJSON[0].second;
                        }

                    },
                    "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                        alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                    }

                });

                $.ajax({
                    type: "get",  //访问WebService使用get方式请求
                    url: HOST, //调用WebService的地址和方法名称组合
                    data: {
                        method: "getCard",
                        falg: "entity",
                        EntityID: $.cookie("CountryEntityID")
                    },
                    success: function (data) {
                        var result = $(data).text();
                        var resultJSON = JSON.parse(result);
                        ks_main.content.push(resultJSON);
                        Vue.nextTick(function () {

                            $(".ks_panel_right > .ks_inner table tbody").niceScroll({
                                styler: "fb",
                                cursorcolor: "#959595",
                                cursorwidth: '6',
                                cursorborderradius: '15px',
                                background: '#eee',
                                cursorborder: '',
                                zindex: 5
                            });
                            $('.基本信息').prependTo(".card");
                            $(document).on("click", ".ks_open", function () {   //点击 + 按钮下拉显示所有内容
                                var width = $(window).width() / 1.5;
                                var height = $(window).height() / 1.5;
                                var text = $(this).find(".open_text").text();
                                var title = $(this).attr('title');

                                $.ajax({
                                    "type": "get",
                                    "url": "layer_module.html",
                                    "success": function (response, status, xhr) {
                                        layer.open({
                                            type: 1,
                                            title: title,
                                            skin: "layui-layer-lbf", //添加类名
                                            closeBtn: 1,
                                            area: [width + "px", height + "px"],
                                            shadeClose: true,
                                            content: response,
                                            success: function () {
                                                $(".text-area").html(text);
                                                $(".news-container").find('h2').html(title);
                                            }
                                        });
                                    }
                                });
                            });
                        });
                    },
                    "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                        alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                    }
                });

            },
            filters: {
                textfilter: function (value) {
                    if (typeof value == 'string') {
                        return value;
                    } else if (typeof value == 'object') {
                        var text = "";
                        for (var i in value) {
                            text +=  "<strong>"+ i + "</strong>"  + "：" + value[i] + "<br/>";

                        }
                        return text;
                    }

                },
                filterEntity: function (value) {
                    switch (value) {
                        case "first":
                            return "类型";
                            break;
                        case "second":
                            return "名称";
                            break;
                        case "third":
                            return "关系";
                            break;
                    }
                },
                filterEvent: function (value) {
                    switch (value) {
                        case "first":
                            return "时间";
                            break;
                        case "second":
                            return "事件";
                            break;
                    }
                },
                filterDocument: function (value) {
                    switch (value) {
                        case "first":
                            return "类型";
                            break;
                        case "second":
                            return "时间";
                            break;
                        case "third":
                            return "文档";
                            break;
                    }
                },
                timefilter: function (value, key) {
                    if (key == "first") {
                        var time = new Date(parseInt(value) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
                        return time;
                    }
                    return value;
                },
                timefilterTwo: function (value, key) {
                    if (key == "second") {
                        var time = new Date(parseInt(value) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
                        return time;
                    }
                    return value;
                }
            }
        });

        $(".ks_head .ks_search span.glyphicon").on("click",function(){
        var keyword = $(".ks_head .ks_search").find("input").val();
            $.ajax({
                type: "get",  //访问WebService使用get方式请求
                url: HOST, //调用WebService的地址和方法名称组合
                data: {
                    method: "getAutoCart",
                    keyword:encodeURI(keyword)
                },
                success: function (data) {
                    var result = $(data).text();
                    var resultData = JSON.parse(result);
                    var width = $(window).width() / 1.5;
                    var height = $(window).height() / 1.5;
                    $.ajax({
                        "type": "get",
                        "url": "layer_autoCard.html",
                        "success": function (response, status, xhr) {
                            layer.open({
                                type: 1,
                                title: "自动卡片",
                                skin: "layui-layer-lbf", //添加类名
                                closeBtn: 1,
                                area: [width + "px", height + "px"],
                                shadeClose: true,
                                content: response,
                                success: function (layero,index) {
                                   for (var i=0;i < resultData.length;i++){
                                       $(layero).find(".autoCard").append('<div class="col-xs-3 card-xs">\
                                                    <div class="nrcard">\
                                                     <h5 class="bg-primary" style="padding: 5px 0; text-indent: 10px;">卡片 — '+ (i+1) +'</h5>\
                                                      <table class="table table-condensed table-bordered table-striped">\
                                                                <tr><th>名称</th><td>'+resultData[i].name+'</td></tr>\
                                                                <tr><th>国家</th><td>'+resultData[i].country+'</td></tr>\
                                                                <tr><th>编号</th><td>'+resultData[i].id+'</td></tr>\
                                                                <tr><th>来源</th><td>'+resultData[i].source+'</td></tr>\
                                                                <tr><th>标签</th><td>'+resultData[i].tag+'</td></tr>\
                                                                <tr><th>类型</th><td>'+resultData[i].type+'</td></tr>\
                                                       </table>\
                                                    </div>\
                                           </div>');
                                    }
                                }
                            });
                        }
                    });

                },
                "error": function (xhr, errorText, errorStatus) {  //访问错误后的回调函数  第一个参数对象 第二个错误的文本 第三个错误的类型
                    alert("ajax访问错误:" + xhr.status + " " + xhr.statusText);        //错误的编号 和文本
                }
            });





        });

    });


</script>